<!DOCTYPE html>
<html>
<head>
  <title>Flowsana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h3>Flowsana</h3>
  <h4>Yoga within reach</h4>
  <%= yield %>


</body>
</html>
